.wrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapperbox {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.box {
	width: 80%;
	height: 300px;
	border: 1px solid black;
	box-shadow: 5px 10px 10px;
	border-radius: 6px;
	background-size: cover;
	background-position: center;
}

.name {
	font-size: 1.2rem;
	color: white;
}

.one {
	background-image: url("../../../assets/img/hotelone.jpg");
}

.two {
	background-image: url("../../../assets/img/hoteltwo.jpg");
}

.three {
	background-image: url("../../../assets/img/hotelthree.jpg");
}

.four {
	background-image: url("../../../assets/img/hotelfour.jpg");
}

.five {
	background-image: url("../../../assets/img/hotelfive.jpg");
}

.six {
	background-image: url("../../../assets/img/hotelsix.jpg");
}

@media (max-width: 568px) {
	.wrapperbox {
		grid-template-columns: repeat(1, 1fr);
	}
}
