.input {
	width: 250px;
	height: 30px;
	border: 1px solid black;
	border-radius: 6px;
	
}


.btn {
	border-radius: 6px;
	border: 0;
	color: white;
	background-color: #463f4d;
	padding: 5px 10px;
	width: 120px;
	height: 30px;
	text-transform: uppercase;
	margin: 1em;
}

.brush {
	font-size: 2rem;
	color: white;
	cursor: pointer;
	margin-top: 0.2em;
}

.row {
	display: flex;
	flex-direction: row;
}